.grafico-despesas {
  padding: 1.8rem;
  border-radius: 24px;
   background: rgba(40, 20, 80, 0.7);
  backdrop-filter: blur(6px);
  border: 1px solid #7e22ce;
  box-shadow: 0 0 25px rgba(139, 92, 246, 0.3);
  color: #e0e0ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-width: 0;
  flex: 1 1 0;
  
}

.selecao-tempo {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.selecao-tempo select {
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
  border: 1px solid #9333ea;
  background-color: #1c1a36;
  color: #e5e7eb;
  font-size: 0.875rem;
  transition: border 0.3s;
}

.selecao-tempo select:focus {
  outline: none;
  border-color: #c084fc;
  box-shadow: 0 0 0 2px rgba(192, 132, 252, 0.4);
}

.recharts-legend-wrapper {
  max-height: 80px;
  overflow-y: auto;
  padding-top: 0.5rem;
  color: #f9fafb;
}

.erro {
  color: #f87171;
  text-align: center;
  font-weight: 500;
  margin-top: 1rem;
}

/* Animação suave ao carregar */
.grafico-despesas {
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1200px) {
  .grafico-despesas,
  .grafico-evolucao,
  .analise-container {
    height: 320px;
  }
}

@media (max-width: 1000px) {
  .grafico-despesas,
  .grafico-evolucao,
  .analise-container {
    height: 280px;
  }
}

@media (max-width: 768px) {
  .grafico-despesas,
  .grafico-evolucao,
  .analise-container {
    height: 100%;
  }
}

@media (max-width: 750px) {
  .grafico-despesas {
    padding: 1.8rem 0.4rem;
  }
}






