.grafico-evolucao {
  padding: 1.8rem;
  border-radius: 24px;
   background: rgba(40, 20, 80, 0.7);
  backdrop-filter: blur(6px);
  border: 1px solid #7e22ce;
  box-shadow: 0 0 25px rgba(139, 92, 246, 0.3);
  color: #e0e0ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grafico-evolucao:hover {
  transform: scale(1.02);
  box-shadow: 0 0 35px rgba(168, 85, 247, 0.5);
}

.selecao-ano {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.selecao-ano select {
  padding: 0.5rem 0.8rem;
  border-radius: 6px;
  border: 1px solid #7e22ce;
  background-color: #111827;
  color: #f9fafb;
  font-size: 0.9rem;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.selecao-ano select:focus {
  outline: none;
  border-color: #a855f7;
  box-shadow: 0 0 5px #a855f7;
}

@media (max-width: 1200px) {
  .grafico-despesas,
  .grafico-evolucao,
  .analise-container {
    height: 320px;
  }
}

@media (max-width: 1000px) {
  .grafico-despesas,
  .grafico-evolucao,
  .analise-container {
    height: 280px;
  }
}

@media (max-width: 768px) {
  .grafico-despesas,
  .grafico-evolucao,
  .analise-container {
    height: 100%;
  }
}
