/* Tipografia base */
body {
  font-family: 'DM Sans', sans-serif;
}

/* Painel com efeito vidro e sombra elegante */
.painel-detalhes {
  position: relative;
  background: rgba(30, 41, 59, 0.75);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 25px;
  padding: 2.5rem 2.5rem 2rem;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  min-width: 500px;
  max-width: 600px;
  animation: fadeIn 0.4s ease-in-out;
  transition: transform 0.3s ease;
  margin-left: 3rem;
}

.painel-detalhes:hover {
  transform: scale(1.01);
}

/* Animação de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Botão de fechar*/
.fechar-icone {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: rgba(255, 0, 0, 0.1);
  border-radius: 0.75rem;
  padding: 0.5rem;
  color: #f87171;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
  backdrop-filter: blur(6px);
  transition: all 0.3s ease;
}

.fechar-icone:hover {
  background: rgba(255, 0, 0, 0.3);
  color: #ffffff;
}

/* Título */
.painel-detalhes h3 {
  font-size: 1.5rem;
  color: #f3f4f6;
  margin-bottom: 1.8rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  padding-bottom: 0.5rem;
  padding-right: 2rem;
  letter-spacing: 0.5px;
}

/* Cada linha de detalhe */
.painel-detalhes p {
  padding: 0.65rem 1rem;
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 0.6rem;
  margin-bottom: 0.75rem;
  font-size: 0.96rem;
  color: #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.2s ease;
}

.painel-detalhes p:hover {
  background-color: rgba(255, 255, 255, 0.04);
}

.painel-detalhes p strong {
  color: #cbd5e1;
  font-weight: 600;
}
/*avisos*/
.aviso-vermelho {
  color: #f87171;
  font-weight: bold;
  margin-left: 6px;
}

.aviso-amarelo {
  color: #facc15;
  font-weight: bold;
  margin-left: 6px;
}

.botao-editar{
  background: rgba(51, 8, 225, 0.382);
  border-radius: 0.75rem;
  padding: 0.5rem;
  color: #ffffff;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
  backdrop-filter: blur(6px);
  transition: all 0.3s ease;
}

.botao-editar:hover {
  background: rgba(9, 237, 74, 0.636);
  color: #ffffff;
}