.analises-resultados-box {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.analise-item {
  background: #25253a;
  color: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.05);
}
