.dashboard-content {
    display: flex;
  }
  
  .dashboard-main {
    padding: 20px;
    width: 100%;
    background-color: #1e1e1e; /* escuro como o fundo geral */
    min-height: calc(100vh - 60px);
    color: white;
  }
  
  .dashboard-main.with-sidebar {
    margin-left: 200px;
  }
  
  .dashboard-main.full {
    margin-left: 0;
  }
  
  .dashboard-wrapper {
    position: relative;
  }
  
  .sidebar-overlay {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 60px);
    backdrop-filter: blur(4px); /* <--- aqui está o blur! */
    background-color: rgba(0, 0, 0, 0.2); /* escurece ligeiramente */
    z-index: 998;
    transition: backdrop-filter 0.3s ease;
  }

  /*grafico de barras*/
.dashboard-graficos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
  margin-top: 2rem;
}

.grafico-item {
  flex: 0 0 48%; /* ocupa ~metade com espaço entre */
  max-width: 480px;
  min-width: 360px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}


@media (max-width: 768px) {
  .dashboard-graficos {
    flex-direction: column;
    align-items: center;
  }

  .grafico-item {
    max-width: 100%;
  }
}